.wrapper{
  background-color: black;
  display: flex;
}

.App {
  margin: auto auto;
  text-align: center;
  border: 3px lightskyblue solid;
  width: 300px;
  border-radius: 10px;
}

.number{
  color: lightskyblue;
  font-size: 42px;
  background-color:black ;
  border-radius: 10px;
  border: 3px lightskyblue solid;
  margin: 15px;
  padding: 15px;
  font-weight: bold;
}

.text{
  color: lightskyblue;
  font-size: 22px;
  background-color:black ;
  border-radius: 10px;
  border: 3px lightskyblue solid;
  margin: 15px;
  padding: 15px;
  font-weight: bold;
}

.buttons{
  border: 3px lightskyblue solid;
  margin: 15px;
  border-radius: 10px;
}

.button{
  background-color:lightskyblue ;
  font-size: 32px;
  font-weight: bold;
  border-radius: 10px;
  margin: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
}

.disabled{
  background-color: grey;
}

.red{
  color: red;
}

input{
  width: 100px;
}

.textValue{
  display: flex;
  justify-content: space-between;
}

.setButton{
  background-color:lightskyblue ;
  color: black;
}

.blue{
  border-color: lightskyblue;
  text-align: center;
  font-size: 14px;
  background-color:white ;
  border-radius: 10px;
  border: 3px lightskyblue solid;
  font-weight: bold;
  color: black;
}

.textValue{
  margin-bottom: 10px;
}